/* header {
    background-color: orange;
    height: 70px;
    width: 100%;
    display: flex;
    
    align-items: center;
    color: white;
    font-size: 60px;
    font:
}

.logo_header img{
    height: 70px;
}


h1{
    color:rgb(255, 174, 0);
}
<img src="logo.png" alt="Si vous voyez ca c'est que jai mal fait mon travail mdrr>"

.body {
    background-color: rgb(255, 174, 0)
} */